:root {
  --main-blue: #3824ce;
  --opa7-blue: rgba(56, 36, 206, 0.7);
  --opa3-blue: rgba(56, 36, 206, 0.3);
  --brownish: #33272a;
  --opa3-brown: rgba(51, 39, 42, 0.3);
  --exit-timing: 450ms;
  --wide-page-offset: 93px;
  --page-offset: calc(var(--wide-page-offset) - 20px);
}

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.page {
  position: absolute;
  top: var(--wide-page-offset);
  left: 0;
  right: 0;
  height: calc(100vh - var(--wide-page-offset));
}

/* NAV */
.nav {
  padding: 25px 0;
  background-color: var(--brownish);
  margin-bottom: 15px;
}

.nav a {
  display: inline-block;
  width: 100px;
  text-align: center;
  margin: 0 15px;
  padding: 10px;
  border: 1px rgba(255, 255, 255, 0.5) solid;
  transition: all 0.7s ease-out;
  text-decoration: none;
  color: white;
}

.nav a.active {
  background-color: #3824ce;
  color: #000;
}

.fade-appear,
.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity var(--exit-timing) ease-in var(--exit-timing);
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity var(--exit-timing) ease-out;
}

.toggle-menu {
  display: none;
  position: absolute;
  top: 0.6em;
  left: 0.6em;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(51, 39, 42, 0.3);
}
.toggle-menu-button {
  color: #000;
  position: absolute;
  top: 1.2em;
  left: 0.8em;
  width: 17px;
  height: 1px;
  background-color: currentColor;
}

.toggle-menu-button:before {
  content: '';
  position: absolute;
  top: -5px;
  left: 0;
  width: 17px;
  height: 1px;
  background-color: currentColor;
}

.toggle-menu-button:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  width: 17px;
  height: 1px;
  background-color: currentColor;
}



@media (orientation: landscape) and (max-width: 812px) {
  .nav {
    padding: 15px 0;
  }
}

@media (max-width: 812px) {
  .page {
    top: 0;
    height: 100vh;
  }
  .nav {
    display: none;
  }
  .toggle-menu {
    display: block;
  }
}

