:root {
  --main-blue: #3824ce;
  --opa7-blue: rgba(56, 36, 206, 0.7);
  --opa3-blue: rgba(56, 36, 206, 0.3);
  --brownish: #33272a;
  --opa3-brown: rgba(51, 39, 42, 0.3);
  --exit-timing: 450ms;
  --wide-page-offset: 93px;
  --page-offset: calc(var(--wide-page-offset) - 20px);
}

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  position: relative;
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
}

/* NAV */
.nav-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--brownish);
  transition: top 2s;
  z-index: 1;
}

.nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 25px 0;
}

.link-container a {
  display: inline-block;
  width: 100px;
  text-align: center;
  margin: 0 15px;
  padding: 10px;
  border: 1px rgba(255, 255, 255, 0.5) solid;
  transition: all 0.7s ease-out;
  text-decoration: none;
  color: white;
}

.link-container a.active {
  background-color: #3824ce;
  color: #000;
}

.fade-appear,
.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity var(--exit-timing) ease-in var(--exit-timing);
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity var(--exit-timing) ease-out;
}

.toggle-menu {
  opacity: 0;
  position: absolute;
  top: 0.6em;
  left: 0.6em;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #d3c5c9;
  transition: opacity 2s;
  z-index: 10;
}

.toggle-menu-button {
  color: #000;
  position: absolute;
  top: 1.2em;
  left: 0.8em;
  width: 17px;
  height: 1px;
  background-color: currentColor;
}
.toggle-menu-button:before,
.toggle-menu-button:after {
  content: "";
  position: absolute;
  left: 0;
  width: 17px;
  height: 1px;
  background-color: currentColor;
}
.toggle-menu-button:before {
  top: -5px;
}
.toggle-menu-button:after {
  top: 5px;
}

@media (orientation: landscape) and (max-width: 812px) {
  .nav {
    padding: 15px 0;
  }
}

@media (max-width: 812px) {
  .page {
    top: 0;
  }
  .nav-container {
    top: -195px;
  }
  .nav {
    margin-bottom: 0;
  }
  .menu-active {
    top: 0;
  }

  .nav .link-container {
    width: 100%;
  }
  .nav .link-container:not(:last-child) {
    margin-bottom: 0.5em;
  }

  .toggle-menu {
    opacity: 1;
  }
  .toggle-menu:hover {
    cursor: pointer;
  }
}
